@font-face {
	font-family: 'Avenir 1';
	src: url('@fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
	font-family: 'Avenir 2';
	src: url('@fonts/AvenirNextLTPro-It.otf');
}

@font-face {
	font-family: 'Avenir 3';
	src: url('@fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
	font-family: 'Avenir 4';
	src: url('@fonts/AvenirNextLTPro-DemiCn.otf');
}

@font-face {
	font-family: 'Avenir 5';
	src: url('@fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
	font-family: 'Avenir 6';
	src: url('@fonts/AvenirNextLTPro-BoldCn.otf');
}
